<!DOCTYPE>
<html>
<head>
  <!--Makes the website mobile responsive-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!--Links static/css/main.css to the HTML file-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  {% block head %}

  <style>


  .audio_player {
    display: {{audio_visibility}};
  }

#loading_circle {
  position: relative;
  top:30px;

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin:0 auto;
  margin-bottom:50px;

  display: {{loading_status}};
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

  </style>

  {% endblock %}
</head>

<body>
  {% block body %}
  
  <header>
    <p class="Ardio_text"><a class="header_link" href="https://cp11-assignment-70.donaldklee.repl.co/">Ardio</a></p>
  </header>

  <div class="container">
    <h1 class="welcome">Hi, there! Welcome to Ardio!</h1>
    <form method="POST">
      <label for="article_link" class="text_field_title">Link to article:</label><br>
      <input class="link_box_form" type="text" id="article_link" name="article_link" placeholder="Example: https://www.ctvnews.ca/world/example-article"><br>
      <input id="submit_link" class="link_summit_button" type="submit" value="Convert to audio - It's free!" onclick="showloading()"/>
    </form>

    <h1 class="welcome">{{Wait}}</h1>

    <div id="loading_circle"></div>

    <audio controls class="audio_player" class="audio_player">
      <!--<source src="static/audio/" + {{audio_file_name}} + ".mp3" type="audio/mpeg">-->
      <source src="{{ url_for('static', filename='audio/' + audio_file_name + '.mp3') }}" type="audio/mpeg">
      Sorry, your browser does not support the audio element.
    </audio>

  </div>
  <footer>
    <p class="credits">@ 2020 Donald Lee</p>
  </footer>
  {% endblock %}

  <script>
    //If the user presses enter when on the form
    var link_enter = document.getElementById("article_link");
    //Show the loading circle
    var loader = document.getElementById("loading_circle");

    link_enter.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("submit_link").click();
      }
    });

    function showloading() {
        loader.style.display = "block";
    }
</script>

  </body>
</html>